// Variables

$light-grey: #ccc;
$text-color: #2E2E2E;
$orange: #ffa500;
$orange-2: #ffae19;
$orange-3: #ffb732;
$orange-4: #ffc04c;
$blue: #4169e1;
$blue-2: #5478e4;
$blue-3: #6687e7;
$blue-4: #7a96ea;