@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: sans-serif;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
  color: $orange;
}

.toggle-btn{
  position: absolute;
  right: 1em;
  top: 0;
}

.navigation ul{
  @include zero;
  li{
    list-style-type: none;
    &:first-child a{
      border-top: 5px solid $text-color;
      @include nav-item($orange);
    }
    &:nth-child(2) a{
      @include nav-item($orange-2);
    }
    &:nth-child(3) a{
      @include nav-item($orange-3);
    }
    &:nth-child(4) a{
      @include nav-item($orange-4);
    }
    a{
      display: block;
      padding: 1em 1em;
      text-align: center;
      border-bottom: 5px solid $text-color;
      text-decoration: none;
    }
  }
}

.toggle-btn,
.close-btn{
  color: $text-color;
  height: 40px;
  width: 40px;
  span{
    @include hide-text;
  }
  i{
    border: 5px solid $text-color;
    border-radius: 50px;
    padding: 11px 8px 9px 8px;
    background-color: $orange;
  }
}

.close-btn{
  margin: 1em;
}

@media only screen and (max-width: 60em){
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width:100%;
      height:100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 300ms, ease-in-out);
    }

    &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);

    }
    &[data-state="slide-open"]{
      //Allow expansion of navigation past page height when open
      overflow: visible;
    }
    
  }

  .slide-menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    right:-100%;
    min-height: 600px;
  }
}

@media only screen and (min-width: 60em){
  .toggle-btn
  .close-btn{
    display: none;
  }
}

body.noscript .slide-menu{
  position: static;
  right: auto;
}



